.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: var(--color-secondary);
    border-bottom: 1px solid #eeeeee;

}

.app-brand {
    flex: 1;
    text-align: center;
}

.app-brand a {
    font-size: 2rem;
}

.nav-bar-toggle {

}

.nav-bar-toggle:hover {
    cursor: pointer;
    color: var(--color-tertiary);
}

.nav-bar-toggle span {
    font-size: 2rem;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
}

.navbar-item span {
    padding-left: 1rem;
}

.navbar-item a {
    padding-left: 1rem;
}

.navbar-item-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
}

.navbar-item-budget-plan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
}

.navbar-item-budget-plan a {
    padding-left: 1rem;
}

.navbar-item-budget-plan span {
    padding-left: 1rem;
}

.navbar-item-profile a {
    padding-left: 1rem;
}

.navbar-item:hover {
    cursor: pointer;
    background: var(--color-tertiary);
}
