.card{
    background-color: rgba(118, 171, 174, 0.75);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card-header{
    padding: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid var(--color-quaternary);
}

.card-body{
    padding: 0.5rem;
}

label{
    display: block;
}

input[type=submit]{
    margin-top: 0.5rem;
    display: block;
}