.charts-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.summary-chart { grid-area: 1 / 1 / 2 / 2; }
.left-money-summary-chart { grid-area: 1 / 2 / 2 / 3; }
.expenses-summary-chart { grid-area: 2 / 1 / 3 / 2; }
.incomes-summary-chart { grid-area: 2 / 2 / 3 / 3; }

.left-money-summary-chart {
    padding: 20px; /* Odstęp wokół tekstu */
    border-radius: 10px; /* Zaokrąglone rogi */
    display: inline-block;
    margin: auto; /* Wyrównanie na środku strony */
}

.left-money-summary-chart h5 {
    color: #6c757d; /* Stonowany kolor tekstu */
    font-size: 1.2rem; /* Rozmiar czcionki */
    margin-bottom: 10px; /* Odstęp poniżej nagłówka */
}

.left-money-summary-chart h2 {
    font-size: 2rem; /* Większy rozmiar czcionki */
    margin: 0; /* Usunięcie domyślnego marginesu */
}