.page {
    display: flex;
    flex-direction: row;
    position: relative;
}

.sidebar {
    background-color: #222831;
    min-width: 240px;
    width: 240px;
    height: 100vh;
    position: sticky;
    top: 0;
}

main {
    flex: 1;
    max-width: calc(100vw - 240px);
}

.content {
    padding-top: 1rem;
}

article {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}