.sideNavBar {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #1a1a1a;
    border-right: 1px solid black;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    border: 1px solid red;
    width: calc(100vw - 240px);
}