.page {
    display: flex;
    flex-direction: row;
    position: relative;
}

.sidebar {
    background-color: var(--color-secondary);
    min-width: 240px;
    width: 240px;
    height: 100vh;
    position: sticky;
    top: 0;
}

main {
    flex: 1;
    max-width: calc(100vw - 240px);
}

.content {
    min-height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
}

article {
    padding: 1.5rem;
}